<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="module\home\view\css\carrusels_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  </head>
  <body>
    <br><br><br>
    <div class="container_carrousels">
        <div class="container_carrousel_principal">
            <br><br>
            <!-- CARRUSEL PRINCIPAL -->
            <div class="carrusel_principal">
            </div>
            <br><br>
        </div>
        <div class="container_carrousel_secundarios">
            <!-- CARRUSEL CATEGORYS -->
            <label>¿ERES MAS DE CAMPO O DE CIUDAD?</label><br><br>
            <div class="carrusel_type">
            </div>
            <br><br>
            <!-- CARRUSEL CATEGORYS -->
            <label>TE PUEDE INTERESAR</label><br><br>
            <div class="carrusel_category">
            </div>
            <br><br>
            <label>QUE ES LO QUE QUIERES?</label><br><br>
            <!-- CARRUSEL OPERATIONS -->
            <div class="carrusel_operations">
            </div>
            <br><br>
            <label>MAS VISITADAS</label><br><br>
            <!-- CARRUSEL OPERATIONS -->
            <div class="carrusel_mas_visitadas">
            </div>
            <br><br>
            <label>CIUDADES EN LAS QUE TE GUSTARIA VIVIR</label><br><br>
            <!-- CARRUSEL CITY -->
            <div class="carrusel_city">
            </div>
            <br><br>
            <label>SIGUE CON LA ULTIMA BUSQUEDA</label><br><br>
            <!-- CARRUSEL CITY -->
            <div class="carrusel_ultima_busqueda">
            </div>
            <br><br>
            <label>RECOMENDATIONS</label><br><br>
            <!-- CARRUSEL CITY -->
            <div class="carrusel_recomendations">
            </div>
        </div>
    </div>
    <br><br><br>

    <!-- LIBRERIAS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 
<!-- CATEGORYS
<section id="port-sec">
    <div class="container">
        <div class="row pad-row">
            <div class="col-md-12 col-sm-12">
                <ul class="portfolio-items1 col-3">
                    <h2 class="cat">CATEGORYS</h2>
                    <div id="containerCategories"></div>
                </ul>
            </div>
        </div>
    </div>
</section>
-->
</body>
</html>