
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My likes</title>
    <link rel="stylesheet" href="module\home\view\css\carrusels_css.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
           

    <script src='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/proyectos/FRAMEWORK_CITYHOUSE/module/shop/view/css/css_html_shop.css">
    <!-- <script src='/proyectos/FRAMEWORK_CITYHOUSE/module/shop/view/js/ctrl_shop.js'></script> -->



</head>

<body>
  <br> <br> <br> <br> 
  <div class="container" id="content_shop_vivienda"></div>
</body>



