<!--
<div id="footer">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="view/css/css_footer.css">
	</head>
	<body>
		<footer>
			<img src="view/img/logo.png" alt="" class="logo">
			<div class="social-icons-container">
				<img href="" src="view/img/FacebookBlanco.png" class="social-icon"></a>
				<img href="" src="view/img/InstagramBlanco.png" class="social-icon"></a>
				<img href="" src="view/img/LinkedinBlanco.png" class="social-icon"></a>
				<img href="" src="view/img/TwitterBlanco.png" class="social-icon"></a>
			</div>
			<ul class="footer-menu-container">
				<li class= "menu-item">Legal</li>
				<li class= "menu-item">Cookies</li>
				<li class= "menu-item">Privacy</li>
				<li class= "menu-item">Shipping</li>
				<li class= "menu-item">Refounds</li>
			</ul>
			<span class="copyrigth">&copy;2024,Llorenç Alfonso Sanchis 1ºDAW. All rigths reserved.</span>
		</footer>
	<body>
</html>
</div>
-->
<div class="footer">
<div class="container">
<div class="row">
            <div class="col-lg-3 col-sm-3">
                   <h4>Information</h4>
                   <ul class="row">
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="about.php">About</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="agents.php">Agents</a></li>         
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="blog.php">Blog</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="contact.php">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                            <input type="text" placeholder="Enter Your email address" class="form-control">
                                <button class="btn btn-success" type="button">Notify Me!</button></form>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>Follow us</h4>
                    <!--<a href="#"><img src="view/img/images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="view/img/images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="view/img/images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="view/img/images/instagram.png" alt="instagram"></a>-->
            </div>

             <div class="col-lg-3 col-sm-3">
                    <h4>Contact us</h4>
                    <p><b>Bootstrap Realestate Inc.</b><br>
                     8290 Walk Street, Australia <br>
                    3eiasl@gmail.com<br>
                     (123) 456-7890</p>
            </div>
        </div>
<p class="copyright">Copyright 2013. All rights reserved.	</p>
</div></div>
<!-- Modal -->
<div id="loginpop" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-sm-6 login">
        <h4>Login</h4>
          <form class="" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>          
        </div>
        <div class="col-sm-6">
          <h4>New User Sign Up</h4>
          <p>Join today and get updated with all the properties deal happening around.</p>
          <button type="submit" class="btn btn-info"  onclick="window.location.href='register.php'">Join Now</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /.modal -->