<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Vivienda</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/redmond/jquery-ui.css" />
    <link href="view/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    
</head>
<body>
    <!-- CONTENT -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/proyectos/FRAMEWORK_CITYHOUSE/view/js/promises.js"></script>
    <script src="/proyectos/FRAMEWORK_CITYHOUSE/view/js/main.js"></script>
    <script src="/proyectos/FRAMEWORK_CITYHOUSE/view/js/activity_user.js"></script>
    


    <!--js-->
    <script src="module/shop/view/js/ctrl_shop.js"></script>
    <script src="/proyectos/FRAMEWORK_CITYHOUSE/module/search/view/js/ctrl_search.js"></script>

       
</body>
</html>